<form method="post" id="gig-create-shipping" enctype="multipart/form-data" class="edit-gig create-gig-shipping" action="/users/usuganya/manage_gigs" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="?" name="utf8"><input type="hidden" value="ybI7/gbmQBvrzSqZtqDR1+I0La2G0I5Dp0FujcxJFlM=" name="authenticity_token"></div>

<section data-action-text="Publish Gig" data-action="progress" class="gig-edit-form-section " id="gig-edit-publish">
                        <h2 class="gig-edit-sec-ttl">
                            Almost there...
                        </h2>
                        <h3 class="gig-edit-sec-sttl">Let's publish your Gig and get <br> some buyers rolling in.</h3>
                    </section>

                    <section data-action-text="Publish Gig" data-action="progress" class="gig-edit-form-section " id="gig-edit-pending">
                        <h2 class="gig-edit-sec-ttl">
                            Done.
                        </h2>
                        <h3 class="gig-edit-sec-sttl">Your Gig was successfully created and will be published shortly.</h3>
                    </section>

                    <section data-action-text="Publish Gig" data-action="progress" class="gig-edit-form-section " id="gig-edit-share">
                        <h2 class="gig-edit-sec-ttl">
                            It's Alive!
                        </h2>
                        <h3 class="gig-edit-sec-sttl">Let's promote your Gig. Our studies show <br> that promoted gigs sell &gt;300% more!</h3>

                        <ul class="gig-edit-share-container">
                            <li class="js-social social-fb"><a data-gtm-label="facebook" data-gtm-event="social" data-fiverr-event="facebook" data-gtm-action="gig-create-share" class="btn-standard js-gtm-event js-fiverr-event" target="_blank">Share on Facebook</a></li>
                            <li class="js-social social-tw"><a data-gtm-label="twitter" data-gtm-event="social" data-fiverr-event="twitter" data-gtm-action="gig-create-share" class="btn-standard js-gtm-event js-fiverr-event" target="_blank">Share on Twitter</a></li>
                            <li class="js-social social-li"><a data-gtm-label="linkedin" data-gtm-event="social" data-fiverr-event="linkedin" data-gtm-action="gig-create-share" class="btn-standard js-gtm-event js-fiverr-event" target="_blank">Post</a></li>
                            <li class="js-social social-pi"><a data-gtm-label="pinterest" data-gtm-event="social" data-fiverr-event="pinterest" data-gtm-action="gig-create-share" class="btn-standard js-gtm-event js-fiverr-event" target="_blank">Pin it</a></li>
                        </ul>
                    </section>
    <div class="form-buttons js-form-button  js-publish">
        <input type="submit" value="Save &amp; Continue" class="btn-standard-lrg btn-green">
        <div class="sub-action">
            <a href="#" class="js-back" id="goBackStep4">go back</a>
            or <a href="#" class="js-finish">skip</a>
        </div>
    </div>

    <div class="form-buttons js-form-button  js-share">
        <div class="sub-action">
            <a href="#" target="_blank" class="js-preview">Preview</a> and <a href="#" class="js-finish">Finish</a>
        </div>
    </div>
</form>

