<%= form_for @service, :url => services_path, :remote => true, :multipart => true do |f| %>

		<section data-action-text="upload video" data-action="progress" class="gig-edit-form-section " id="gig-edit-pre-video">
				<h2 class="gig-edit-sec-ttl">Awesome!</h2>
				<h3 class="gig-edit-sec-sttl">Did you know that sellers who present their <br> service on video, sell 220% more?</h3>
		</section>

		<section data-action-text="Save &amp; Continue" data-action="progress" class="gig-edit-form-section less-padding " id="gig-edit-upload-video">

				<div class="video-container-full-width js-video-upload-container" id="gig-edit-video-container">
						<div class="cover-photo-upload video-upload">
								<div class="btn-upload-cover">
										<div class="uploadifive-button .js-video-upload-container btn-standard btn-attach-files" id="uploadifive-gig-edit-video" style="height: auto; overflow: hidden; position: relative; text-align: center; width: auto;">ATTACH FILES
												<input type="file" data-upload-path="" data-token="d9b64265d450425ff28b853bd03114cb1b2c6d70" class="inp-uploadify" id="gig-edit-video" name="video[video_asset]" style="display: none;">
												<input type="file" class="uploadifive-input" style="opacity: 0; position: absolute; right: -3px; top: -3px; z-index: 999;">
										</div>
								</div>
								<small>One video file, 50 MB max.</small>
						</div>
				</div>

				<h3>Video Must Have's</h3>
				<ol>
						<li><em>10 to 60 seconds max. length.</em></li>
						<li><em>Video should contain a shot of yourself presenting your own Gig.</em></li>
						<li><em>Mention that your Gig is offered exclusively on Fiverr.com.</em></li>
						<li><em>Make sure your video is good quality, you have proper lighting, and your voice is clear.</em></li>
						<li><em>You may not use the same video for more than one Gig.</em></li>
						<li><em>We do not allow self improvement, getting rich, black hat and other borderline subjects.</em></li>
				</ol>

				<h3>Some Good Examples</h3>
				<ul class="gig-video-samples">
						<li><iframe width="170" height="120" frameborder="0" src="http://api.dmcloud.net/player/swf/4e5bf73e94a6f629c900461b/5103ffed06361d117404ee8e/share" scrolling="no"></iframe></li>
						<li><iframe width="170" height="120" frameborder="0" src="http://api.dmcloud.net/player/swf/4e5bf73e94a6f629c900461b/51829ff606361d464e0002ff/share" scrolling="no"></iframe></li>
						<li><iframe width="170" height="120" frameborder="0" src="http://api.dmcloud.net/player/swf/4e5bf73e94a6f629c900461b/4e6654b3f325e17a850000de/share" scrolling="no"></iframe></li>
				</ul>

				<aside class="gig-tooltip">
						<figure>
								<figcaption>
										<h3>People Love Videos</h3>
										<p>Adding a video of you presenting your Gig is guaranteed to boost your sales. Plus you'll get to be the lead star in your own movie... Sweet!</p>
								</figcaption>
								<div class="gig-tooltip-img gig-tooltip11"></div>
						</figure>
				</aside>

   </section>

		<div class="form-buttons js-form-button  js-pre-video">
				<input type="submit" value="Save &amp; Continue" class="btn-standard-lrg btn-green">
				<div class="sub-action">
						<a href="#" class="js-back" id="goBackStep2">go back</a>
						or <a href="#" class="js-skip" id="skipStep2">skip</a>
						<small>(you can always add this later)</small>
				</div>
		</div>
		
<% end %>


