<div class="db-container white-container container-fluid">

                        <div class="row">
                            <div class="span12 span-centered">

                                <section class="db-content db-content-full db-content-nobg" style="min-height:10px">
                                    <div class="db-content-inner">
                                        <article class="db-start-selling">
                                            <header class="db-header cf">
                                                <h1>Creating services is easy. <br> Start selling now!</h1>
                                                <a class="btn-standard-lrg btn-green disableonclick" href="/services/new">Create a Service</a>
                                            </header>

                                           <!-- <div class="start-selling-graph">
                                                    <img alt="Start Selling" src="//cdnec20.fiverrcdn.com/assets/v2_backgrounds/bg-start-selling-0dde248363d76bd83082a9c9a78fcb60.png">
                                            </div>-->
                                        </article>
                                    </div>
                                </section>

                            </div>
                        </div>

                    </div>