 
<%= render :partial => "/common/admin/title_bar.html" , :locals => {:titles => "Edit Service"} %>
		
<div id="active_admin_content" class="without_sidebar">
<div class="columns">
              <div class="column" style="width: 100.0%;">
                <div class="panel">
                  <h3>Update Service</h3>
                  <div class="panel_contents">
                    <div>
																		<%= render :partial => 'form', :locals => { :action => "edit" } %>
																		<br/>
																		<br/>
																		<p><%= link_to "Back to Services", admin_services_path %></p>
																</div>
														<div>
                  

</div>
                  </div>
                </div>
              </div>
										<div style="clear:both;"></div></div>
										
		</div>
		
				
<script type="text/javascript">
		var populateCategoryUrl = "<%= populate_category_admin_services_path %>";
</script>