 
   <%= render :partial => "common/welcome"%>
   
   
   <div class="mp-box">
                        <div class="box-row p-b-0">
                            <section class="mp-gig-carousel mp-gig-carousel-four">
                                <div data-box-id="hp99912_1" data-do-endless="true" data-do-special="false" data-gigs-shown="28" data-hide-empty="false" data-load-more="true" data-json-path="/gigs/endless_page_as_json?host=homepage&amp;type=endless&amp;category_id=99912&amp;limit=28" class="gig-carousel gallery cf carousel-noaction">
                                    <div class="js-gallery-box">
                                        <div class="js-coll-slider cf"><div class="jls_hp99912_1_1400892061483 js-coll-slider-inner">
																																						 
<%if !@services.blank?%>
<%@services.each do |service|%>
      <div class="js-slide">
            <div class="gig-item">
 
                <a class="gig-link-main" href="<%=service_path(service)%>">
                    
                    <span class="toprated-badge">Top-Rated Seller!</span>
                    <span class="gig-pict-214"><img width="214" height="132" src="<%= (service && service.attachment && service.attachment.media) ? service.attachment.media.url : "/assets/no-asset.jpg"%>" data-reload="inprogress"></span>
                    
                    <h5 class="ellipsis">
																				<%=service.formatted_title %>
                            <span class="gig-price"><em class="order">ORDER</em><em>INR 200</em></span>
                    </h5>
                </a>
                <div class="gig-sub">
                    <div class="user-pict-32"><img width="28" height="28" src="http://cdnec1.fiverrcdn.com/photos/191188/thumb/Region_capture_189.jpg?1372454309" data-reload="inprogress"></div>
                    <div class="seller-name"><a rel="nofollow" href="/actualreviewnet">actualreviewnet</a></div>
                    <div class="seller-stats cf">
                        
                            <span class="ratings-count">(11k+)</span>
                            <span class="rating-tiny rate-9"></span>
                        
                        <span class="seller-country">United States</span>
                    </div>
                </div>
            </div>
        </div>
    
							
<%end%>
<%end%>
</div>
</div>
                                    </div>
                                </div>
                                <div class="gig-load-more" style="display: block;">
                                    <a rel="next" class="btn-standard-lrg btn-white" href="#jls_hp99912_1=2">Load More</a>
                                </div>
                            </section>
                        </div>
                    </div>