 
   <%= render :partial => "common/welcome"%>
   
   
   
   <div class="mp-box">
                        <div class="box-row p-b-0">
                                                                
                            <section class="mp-gig-carousel mp-gig-carousel-four">


                                <div data-box-id="hp99912_1" data-do-endless="true" data-do-special="false" data-gigs-shown="28" data-hide-empty="false" data-load-more="true" data-json-path="/gigs/endless_page_as_json?host=homepage&amp;type=endless&amp;category_id=99912&amp;limit=28" class="gig-carousel gallery cf carousel-noaction">

                                    <div class="js-gallery-box">
                                        <div class="js-coll-slider cf"><div class="jls_hp99912_1_1400892061483 js-coll-slider-inner">
<%(0..10).each do |i|%>
    <div class="js-slide">
            <div class="gig-item">
                
                    <aside id="coll-gig-2493864" class="coll-heart">
                        
                            <a data-hint="Collect" rel="nofollow" class="icn-heart hint--top js-open-popup-join" href="/join"><span></span></a>
                        
                    </aside>
                
                
                <a class="gig-link-main" href="/d_design/design-professional-app-icon">
                    
                    <span class="toprated-badge">Top-Rated Seller!</span>
                    <span class="gig-pict-214"><img width="214" height="132" src="http://cdn1.fiverrcdn.com/photos/2338805/v2_200/optima_1.jpg" data-reload="inprogress"></span>
                    
                    <h5 class="ellipsis">
                        I will design professional APP icon
                        
                            <span class="gig-price"><em class="order">ORDER</em><em>$5</em></span>
                        
                        
                            
                        
                    </h5>
                </a>
                <div class="gig-sub">
                    <div class="user-pict-32"><img width="28" height="28" src="http://cdn1.fiverrcdn.com/photos/2386014/thumb/Me2.jpg?1394127429" data-reload="inprogress"></div>
                    <div class="seller-name"><a rel="nofollow" href="/d_design">d_design</a></div>
                    <div class="seller-stats cf">
                        
                            <span class="ratings-count">(221)</span>
                            <span class="rating-tiny rate-9"></span>
                        
                        <span class="seller-country">Bulgaria</span>
                    </div>
                </div>
            </div>
        </div>
    



<%end%>
</div>
</div>
                                    </div>


                                </div>

                                <div class="gig-load-more" style="display: block;">
                                    <a rel="next" class="btn-standard-lrg btn-white" href="#jls_hp99912_1=2">Load More</a>
                                </div>


                            </section>

                        </div>
                    </div>