/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.breadcrumb {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.breadcrumb a {
  text-decoration: underline;
}