<section class="">
                        <div class="">


                            <div class="mp-box">
                                <div class="box-row p-b-0">

																				<%= render :partial => "/common/sub_or_inner_category_box" , :locals => {:sub_categories => @sub_categories}  %>

																																			
																																<!--			<nav class="mp-gig-filter cf" style="padding-right: 88px;">
                                        <div class="layout-toggle js-layout-toggle sel-auto" style="display: block;">
                                            <a rel="nofollow" data-gtm-label="to-auto-view" data-gtm-event="layout-change-in-category-page" data-gtm-action="gig-layout-change" class="js-gtm-event sel" href="#auto">Auto</a>
                                            <a rel="nofollow" data-gtm-label="to-list-view" data-gtm-event="layout-change-in-category-page" data-gtm-action="gig-layout-change" class="js-gtm-event" href="#lists">List View</a>
                                        </div>
                                        <h3>Showing:</h3>
                                        <ul class="js-gig-filter">
                                                <li class="filter-auto sel"><a rel="nofollow" href="/categoria/graphics-design#filter=auto">High Rating</a></li>                       
                                                <li class="filter-recommended"><a rel="nofollow" href="/categoria/graphics-design#filter=recommended">Recommended</a></li>
                                            <li class="filter-express_delivery"><a rel="nofollow" href="/categoria/graphics-design#filter=express_delivery">Express Gigs</a></li>
                                            <li class="filter-video"><a rel="nofollow" href="/categoria/graphics-design#filter=video">With Video</a></li>
                                            <li class="filter-new"><a rel="nofollow" href="/categoria/graphics-design#filter=new">New</a></li>
                                        </ul>
                                    </nav>

                             
-->
</div>
                            </div>
																						<%= render :partial => "/common/service_listing"  , :locals => {:services => @categor_services} %>
																		</div>
                    </section>