<footer>
                        <div class="inner">
                            <div class="main-cat-list-wrap active">
                                <ul class="main-cat-list">
                                    <li>
                                        <a data-gtm-label="graphics-design" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/graphics-design">Graphics &amp; Design</a>
                                    </li>
                                    <li>
                                        <a data-gtm-label="online-marketing" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/online-marketing">Online Marketing</a>
                                    </li>
                                    <li>
                                        <a data-gtm-label="writing-translation" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/writing-translation">Writing &amp; Translation</a>
                                    </li>
                                    <li>
                                        <a data-gtm-label="video-animation" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/video-animation">Video &amp; Animation</a>
                                    </li>
                                    <li>
                                        <a data-gtm-label="music-audio" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/music-audio">Music &amp; Audio</a>
                                    </li>
                                    <li>
                                        <a data-gtm-label="programming-tech" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/programming-tech">Programming &amp; Tech</a>
                                    </li>
                                    <li class="cat-list-small">
                                        <a data-gtm-label="gifts" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/gifts">Gifts</a>&nbsp;
                                    </li>
                                    <li class="cat-list-dropdown">
                                        <span>More</span>
                                        <div class="unnecessary-firefox-wrapper">
                                            <ul class="menu-exp">
                                                <li>
                                                    <a data-gtm-label="advertising" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/advertising">Advertising</a>
                                                </li>
                                                <li>
                                                    <a data-gtm-label="business" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/business">Business</a>
                                                </li>
                                                <li>
                                                    <a data-gtm-label="lifestyle" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/lifestyle">Lifestyle</a>
                                                </li>
                                                <li>
                                                    <a data-gtm-label="fun-bizarre" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/fun-bizarre">Fun &amp; Bizarre</a>
                                                </li>
                                                <li>
                                                    <a data-gtm-label="other" data-gtm-event="Category Navigation" data-gtm-action="global-navbar-click" class="js-gtm-event" href="/categories/other">Other</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </footer>