<footer class="main-footer cf">


                        
                    <div class="footer-inner">

                        <div class="footer-side-l">

                            <div class="locale-switcher cf">
                                <div data-autowidth="true" class="fake-dropdown langs-dropdown" style="visibility: visible;">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="width: 54px;">English</a>
                                    <ul role="menu" class="dropdown-menu" style="top: -2px; width: 94px;">
                                        <li><a href="/switch_subdomain?source=">English</a></li>
                                        <li><a href="/switch_subdomain?source=&amp;to_subdomain=es">Espanol</a></li>
                                    </ul>
                                </div>
                            </div>

                            <h5>Let's Connect</h5>
                            <div class="footer-fb-like js-footer-fb"><div data-colorscheme="dark" data-show-faces="true" data-width="231" data-send="false" data-href="http://facebook.com/#" class="fb-like"></div></div>
                            <div class="footer-tw-follow">
                                For live updates <a class="btn-tw" href="#">Follow @mulch</a>
                            </div>

                            <div class="footer-social cf">
                                <a target="blank" data-gtm-label="twitter" data-gtm-event="social" data-gtm-action="footer-share" class="social social-tw js-gtm-event" href="http://twitter.com/#"><span>Mulch on Twitter</span></a>
                                <a target="blank" data-gtm-label="facebook" data-gtm-event="social" data-gtm-action="footer-share" class="social social-fb js-gtm-event" href="http://www.facebook.com/#"><span>Mulch on Facebook</span></a>
                                <a target="blank" data-gtm-label="pinterest" data-gtm-event="social" data-gtm-action="footer-share" class="social social-pi js-gtm-event" href="http://www.pinterest.com/#"><span>Mulch on Pinterest</span></a>
                                <a target="blank" data-gtm-label="linkedin" data-gtm-event="social" data-gtm-action="footer-share" class="social social-li js-gtm-event" href="http://www.linkedin.com/company/#"><span>Mulch on LinkedIn</span></a>
                                <a target="blank" data-gtm-label="instagram" data-gtm-event="social" data-gtm-action="footer-share" class="social social-in js-gtm-event" href="http://instagram.com/#"><span>Mulch on Instagram</span></a>
                            </div>

                        </div>

                        <div class="footer-side-r">

                            <a class="logo" href="/">Mulch Logo</a>
                            <p>&copy; Mulch International Limited 2010 - 2014</p>
                            <p>MULCH&reg;, GIG&reg;, GIGS&reg;, I WILL __ for $5&trade;, The Things People Do For $5&trade;, DamnQuickPay&trade;, Mulch graphics, logos, scripts, terms of use, instructions, designs, and other service names are the trademarks and copyright of Mulch International Limited.</p>

                            <p class="mobile-app"><a target="_blank" data-gtm-label="get-the-app" data-gtm-event="ios-promo" data-gtm-action="clicked-from-footer" class="js-gtm-event" href="http://hastrk1.com/serve?action=click&amp;publisher_id=60556&amp;site_id=47038&amp;offer_id=286518&amp;advertiser_sub_site=web_HP_footer"><img alt="Download on the App Store" class="btn-get-app" src="//cdn20.fiverrcdn.com/assets/v2_buttons/en/btn-footer-app-store-9f9dde20189d805fa7af161fbe72e0ce.png"></a></p>
                            <p class="mobile-app"><a target="_blank" data-gtm-label="get-the-app" data-gtm-event="android-promo" data-gtm-action="clicked-from-footer" class="js-gtm-event" href="http://hastrk1.com/serve?action=click&amp;publisher_id=60556&amp;site_id=53092&amp;offer_id=286146&amp;advertiser_sub_site=web_HP_footer"><img alt="Download on the Play Store" class="btn-get-app" src="//cdn20.fiverrcdn.com/assets/v2_buttons/en/btn-footer-play-store-6b44844389574ccee9846ca748a6d51b.png"></a></p>

                        </div>

                        <div class="footer-mid">
                            <div class="row-fluid">
                                <div class="span4">
                                    <ul>
                                        <li><h5>Media &amp; Press</h5></li>
                                        <li><a href="/news">Mulch in the Media</a></li>
                                        <li><a href="/press">Press Kit</a></li>
                                        <!-- <li></li> -->
                                    </ul>
                                    <ul>
                                        <li><h5>Mulch Community</h5></li>
                                        <li><a target="_blank" href="#">Mulch Sellers Forum</a></li>
                                        <li><a target="_blank" href="#">Mulch Buyers Forum</a></li>
                                        <li><a target="_blank" href="#">Sellers LinkedIn Group</a></li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <ul>
                                        <li><h5>General</h5></li>
                                            <li><a class="pink-link" href="/jobs">We Are Hiring!</a></li>
                                        <li><a href="/categories">Mulch Directory</a></li>
                                        <li><a href="/levels">Levels</a></li>
                                        <!-- <li></li> -->
                                        <li><a target="_blank" href="#">The Mulch Blog</a></li>
                                        <li><a href="/terms_of_service">Terms of Service</a></li>
                                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                                        <li><a href="/intellectual-property">Intellectual Property Claims</a></li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <ul>
                                        <li><h5>Get Help</h5></li>
                                        <li><a href="/support">Customer Support</a></li>
                                        <li><a target="_blank" href="#">Mulch Forum</a></li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                    </div>

                    
                </footer>