<aside class="mp-box mp-footer-search mp-footer-search-white">
           <div class="box-row">
                            <form method="get" id="footer_search" action="/search/gigs" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="?" name="utf8"></div>                
                                <div class="large-search">
                                    <input type="text" value="" placeholder="FIND AMAZING GIGS, STARTING AT $5" name="query" maxlength="40" id="query">
                                    <input type="image" alt="Go" src="//cdn20.fiverrcdn.com/assets/v2_buttons/btn-search-icon-lrg-64c37a7ce6c17e45188981e1c6565f10.png">
                                    
                                </div>
</form>                        </div>
                    </aside>