<header class="main-header">
                        <div class="container-fluid">

                            <a data-gtm-label="clicked" data-gtm-event="navigation" data-gtm-action="logo" class="logo js-gtm-event" href="/">Fiverr logo</a>

                                
                    <nav class="main-nav main-nav-guest">
                        <ul>
							<li><a data-gtm-label="home" data-gtm-event="navigation" data-gtm-action="black-nav" class="js-gtm-event" href="/">HOME</a></li>
                            <li><a rel="nofollow" data-gtm-label="start selling" data-gtm-event="navigation" data-gtm-action="black-nav" class="js-open-popup-join js-gtm-event" href="http://www.fiverr.com/join?ref=start_selling">START SELLING</a></li>
                            <li><a data-gtm-event="navigation" data-gtm-label="sign in" data-gtm-action="black-nav" class="js-open-popup-login js-gtm-event" href="http://www.fiverr.com/login">SIGN IN</a></li>
                            <li><a data-gtm-event="navigation" data-gtm-label="join" data-gtm-action="black-nav" class="btn-green js-open-popup-join js-gtm-event" href="http://www.fiverr.com/join">JOIN</a></li>
                        </ul>
                    </nav>


                        </div>
                    </header>