
<div class="mp-layout-wrapper">

                                <div class="mp-box mp-layout layout-auto layout-loader" style="display: block;">
                                    <div class="box-row p-t-0 p-b-0">

                                                                            
                            <section class="mp-gig-carousel mp-gig-carousel-four">


                                <div data-box-id="ca3" data-do-endless="true" data-do-special="false" data-gigs-shown="48" data-hide-empty="false" data-load-more="true" data-json-path="/gigs/endless_page_as_json?host=category&amp;type=endless_auto&amp;category_id=3&amp;limit=48&amp;filter=auto" class="gig-carousel gallery cf carousel-noaction">

                                    <div class="js-gallery-box">
                                        <div class="js-coll-slider cf"><div class="jls_ca3_auto_1402245986752 js-coll-slider-inner">
    <%if !services.blank?%>
    <% services.each do |service|%>
        <div class="js-slide">
            <div class="gig-item">
                
 
                
                <a class="gig-link-main" href="<%=service_path(service)%>">
                    
                    <span class="toprated-badge">Top-Rated Seller!</span>
                    <span class="gig-pict-214"><img width="214" height="132" src="<%=(service && service.attachment && service.attachment.media) ? service.attachment.media.url : "/assets/no-asset.jpg"%>" data-reload="inprogress"></span>
                    
                    <h5 class="ellipsis">
                      <%=service.formatted_title%>
                            <span class="gig-price"><em class="order">ORDER</em><em>$5</em></span>
                    </h5>
                </a>
                <div class="gig-sub">
                    <div class="user-pict-32"><img width="28" height="28" src="http://cdnec1.fiverrcdn.com/photos/191188/thumb/Region_capture_189.jpg?1372454309" data-reload="inprogress"></div>
                    <div class="seller-name"><a rel="nofollow" href="/actualreviewnet">actualreviewnet</a></div>
                    <div class="seller-stats cf">
                        
                            <span class="ratings-count">(11k+)</span>
                            <span class="rating-tiny rate-9"></span>
                        
                        <span class="seller-country">United States</span>
                    </div>
                </div>
            </div>
        </div>
    

    
        
							

<%end%>
<% else %>
		<h3>No Services found in our system.</h3>
<%end%>
</div></div>
                                    </div>


                                </div>

                        <!--        <div class="gig-load-more" style="display: block;">
                                    <a rel="next" class="btn-standard-lrg btn-white" href="http://www.fiverr.com/categories/graphics-design/#layout=auto&amp;page=2">Load More</a>
                                </div>-->

                            </section>


                                    </div>
                                </div>

                                <div class="mp-box mp-box-white nobot mp-layout layout-lists layout-loader layout-loading" style="display: none;">
                                    <div class="box-row p-b-0">

                                        
                            <section class="mp-gig-columns-slim">


                                <div data-box-id="ca3" data-do-endless="true" data-gigs-shown="48" data-hide-empty="false" data-load-more="true" data-json-path="/gigs/endless_page_as_json?host=category&amp;type=endless_auto&amp;category_id=3&amp;limit=48&amp;filter=auto" class="gig-columns-slim loading">
                                    <div class="gig-items js-gig-items"></div>
                                </div>

                                <div class="gig-load-more">
                                    <a rel="next" class="btn-standard-lrg btn-white" href="#">Load More</a>
                                </div>

                            </section>


                                    </div>
                                </div>

                            </div>

                  
