																																
				<nav class="mp-subcategory-list cf cols-4">
				<div class="inner" style="display: block;">
				</div>
				<ul>
						<% defined?(sub_categories) && sub_categories.each do |sub_category|%>
								<li><span><a href="<%= sub_category_path(sub_category) %>"><%= sub_category.name %></a></span></li>
						<% end %>
						<% defined?(inner_categories) && inner_categories.each do |inner_category|%>
								<li><span><a href="<%= inner_category_path(inner_category) %>"><%= inner_category.name %></a></span></li>
						<%end%>
				</ul>

				</nav>



