<header data-stellar-vertical-offset="0" data-stellar-ratio="0.25" class="mp-box p-0 mp-page-welcome mp-welcome-new" style="transform: translate3d(0px, 0px, 0px);">
                    <div data-stellar-vertical-offset="0" data-stellar-ratio="1.5" class="welcome-trees" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="box-row p-b-0 welcome-text">

                            <h1>
                                Welcome to Mulch
                                <small>
                                    The world's largest marketplace<br>for services, starting at $5
                                </small>
                            </h1>

                            <p class="intro-links">
                                <a data-gtm-label="get started now" data-gtm-event="homepage" data-gtm-action="intro-box" class="btn-standard btn-standard-lrg btn-white js-join-trigger js-gtm-event" href="/join">get started now</a><br>
                                <a rel="nofollow" data-gtm-label="how does it work" data-gtm-event="homepage" data-gtm-action="intro-box" class="js-open-popup-howitworks link-blue js-gtm-event" href="#">How does it work?</a>
                            </p>

                            <p class="welcome-search">
                                <a class="btn-standard-lrg js-btn-homepage-search" href="#"></a>
                                <input type="search" placeholder="Find an amazing Gig ..." class="js-homepage-search" value="" name="query-inline" maxlength="40" id="query-inline">
                            </p>

                            <p class="welcome-howitworks">
                                <a rel="nofollow" data-gtm-label="how does it work" data-gtm-event="homepage" data-gtm-action="intro-box" class="js-open-popup-howitworks link-howitworks js-gtm-event" href="#">How does it work?</a>
                            </p>

                        </div>
                    </div>
                </header>